=stylesheet_link_tag "game"
=stylesheet_link_tag "bootstrap.min"
= javascript_include_tag 'application.js'
%div#refreshable
- #if flash[:results]
-  #results.message= flash[:results]
=#%div{:style => "position: absolute; left: -100px; top: 300px;"}
-if @game_over == "f"
  - if (((@turn % 2) == 1) && (@player1 == @player_username)) 
    .container-fluid 
      %p.navbar-text.pull-right
        .row
          %table#characters
            %tr
              %td Basic Actions:
              %td= button_to 'Attack', game_take_turn_path("Action" => "1")
              %td= button_to 'Guard', game_take_turn_path("Action" => "2")
              %td= button_to 'Focus', game_take_turn_path("Action" => "3")
              %td= button_to "Reload Page", game_show_path, :method => :get
            -if (@current_game.player1_debuff != "Silence")
              %tr
                %td Special Actions:
                %td= button_to @p1_action1, game_take_turn_path("Action" => @p1_character.action_1_id)
                %td= button_to @p1_action2, game_take_turn_path("Action" => @p1_character.action_2_id)
                %td= button_to @p1_action3, game_take_turn_path("Action" => @p1_character.action_3_id)
                %td= button_to @p1_action4, game_take_turn_path("Action" => @p1_character.action_4_id)
  - elsif (((@turn % 2) == 0) && (@player2 == "AI"))
    .container-fluid 
      %p.navbar-text.pull-right
        .row
          %table#characters
            %tr
              %td= button_to "Opponent Turn", "game/ai_take_turn", :method => :post
  - elsif ((@player2 == @player_username) && (@turn %2 == 0))
    .container-fluid 
      %p.navbar-text.pull-right
        .row
          %table#characters
            %tr
              %td Basic Actions:
              %td= button_to 'Attack', game_take_turn_path("Action" => "1")
              %td= button_to 'Guard', game_take_turn_path("Action" => "2")
              %td= button_to 'Focus', game_take_turn_path("Action" => "3")
              %td= button_to "Reload Page", game_show_path, :method => :get
            -if (@current_game.player2_debuff != "Silence")
              %tr
                %td Special Actions:
                %td= button_to @p2_action1, game_take_turn_path("Action" => @p2_character.action_1_id)
                %td= button_to @p2_action2, game_take_turn_path("Action" => @p2_character.action_2_id)
                %td= button_to @p2_action3, game_take_turn_path("Action" => @p2_character.action_3_id)
                %td= button_to @p2_action4, game_take_turn_path("Action" => @p2_character.action_4_id)
  - else
    .container-fluid 
      %p.navbar-text.pull-right
        .row
          %table#characters
            %tr
              %td= button_to "Reload Page", game_show_path, :method => :get
%p
  %strong
    = @current_game.flavor_message.bbcode_to_html.html_safe
%p
  %strong
    = @current_game.results_message
%p
  %strong
    = @current_game.tf_message.bbcode_to_html.html_safe
#PlayerDescription
  .row
    .col-sm-6.col-md-6.col-lg-6
      %h3 Player 1

      %ul#details
        %div
          %p
            Player Name:
            = @player1
          %p
            Character:
            = @p1_name
          %p
            %div.progress
              %div.progress.progress-bar.progress-bar-danger{:style => "width: #{@p1_hp_percent}%;min-width:5em;"}
                = "#{@p1_hp} \\ #{@p1_character.max_hp} HP"
          %p
            %div.progress
              %div.progress.progress-bar{:style => "width: #{@p1_mp_percent}%;min-width:5em;"}
                = "#{@p1_mp} \\ #{@p1_character.max_mp} MP"
          %p
          #portrait
            Portrait:
            = image_tag(@this_game.player1_picture)
          -if(@this_game.player1_buff == "Summon")
            %p
              Summon:
              = @p1_summon
              = image_tag(@p1_summon_picture)
          %table.table
            %thead
              %tr
                %th Buff
                %th Debuff
            %tbody
              %tr
                %td= @this_game.player1_buff
                %td= @this_game.player1_debuff
          %p
            Transformation Stage:
            = @this_game.player1_stage
          %p
            %h4 Last Transformation
            = @this_game.player1_last_tf.bbcode_to_html.html_safe
          %p
            %h4 Current Description
            = @this_game.player1_description.bbcode_to_html.html_safe

    .col-sm-6.col-md-6.col-lg-6
      %h3 Player 2

      %ul#details
        %div
          %p
            Player Name:
            = @player2
          %p
            Character:
            = @p2_name
          %p
            %div.progress
              %div.progress.progress-bar.progress-bar-danger{:style => "width: #{@p2_hp_percent}%;min-width:5em;"}
                = "#{@p2_hp} \\ #{@p2_character.max_hp} HP"
          %p
            %div.progress
              %div.progress.progress-bar{:style => "width: #{@p2_mp_percent}%;min-width:5em;"}
                = "#{@p2_mp} \\ #{@p2_character.max_mp} MP"
          %p
            Portrait:
            = image_tag(@this_game.player2_picture)
          -if(@this_game.player2_buff == "Summon")
            %p
              Summon:
              = @p2_summon
              = image_tag(@p2_summon_picture)
          %table.table
            %thead
              %tr
                %th Buff
                %th Debuff
            %tbody
              %tr
                %td= @this_game.player2_buff
                %td= @this_game.player2_debuff
          %p
            Transformation Stage:
            = @this_game.player2_stage
          %p
            %h4 Last Transformation
            = @this_game.player2_last_tf.bbcode_to_html.html_safe
          %p
            %h4 Current Description
            = @this_game.player2_description.bbcode_to_html.html_safe
  .row
    .col-sm-12.col-md-12.col-lg-12
    -if @game_over == "f"

    -else
      %h1 GAME OVER
      -if @p1_hp <= 0
        -if @p1_character.transformation.epilogue != "No Description"
          %h3 Character Epilogue
          %p
            %strong
              = @p1_character.transformation.epilogue
        = link_to "View #{@p1_character.name}'s Full Transformation", transformation_show_path(:name => @p1_character.name), :method => :get
      -if @p2_hp <= 0
        -if @p2_character.transformation.epilogue != "No Description"
          %h2 Character Epilogue
          %p
            %strong
              = @p2_character.transformation.epilogue
        = link_to "View #{@p2_character.name}'s Full Transformation", transformation_show_path(:name => @p2_character.name), :method => :get
      -if @player2 != "AI"
        = button_to "Reset Game?", "game/cpu_reset_game", :confirm => "Are you sure you want to restart the game?", :method => :post
  .row
    -if @player_username == @player1
      %table#games
        %thead
          %tr
            %th Ability Name
            %th Ability Type
            %th MP Cost
        %tbody
          %tr
            %td= @p1_action1
            %td= @p1_character.action_1_rules
            %td= @p1_mp_cost1
          %tr
            %td= @p1_action2
            %td= @p1_character.action_2_rules
            %td= @p1_mp_cost2
          %tr
            %td= @p1_action3
            %td= @p1_character.action_3_rules
            %td= @p1_mp_cost3
          %tr
            %td= @p1_action4
            %td= @p1_character.action_4_rules
            %td= @p1_mp_cost1
    -else
      %table#games
        %thead
          %tr
            %th Ability Name
            %th Ability Type
            %th MP Cost
        %tbody
          %tr
            %td= @p2_action1
            %td= @p2_character.action_1_rules
            %td= @p2_mp_cost1
          %tr
            %td= @p2_action2
            %td= @p2_character.action_2_rules
            %td= @p2_mp_cost2
          %tr
            %td= @p2_action3
            %td= @p2_character.action_3_rules
            %td= @p2_mp_cost3
          %tr
            %td= @p2_action4
            %td= @p2_character.action_4_rules
            %td= @p2_mp_cost1
  %p
    .row
      .col-sm-4.col-md-4.col-lg-4
        = button_to "Reload Page", game_show_path, :method => :get
      -if @player2 == "AI"
        .col-sm-4.col-md-4.col-lg-4
          = button_to "Reset Game?", "game/cpu_reset_game", :confirm => "Are you sure you want to restart the game?", :method => :post
      .col-sm-4.col-md-4.col-lg-4
        = button_to "Leave Game?", "game/destroy_current_game", :confirm => "Are you sure you want to quit the game? NOTE: You will NOT be able to come back to this game.", :method => :post
  .row
    %table.table
      %thead
        %tr
          %th Player Messages
      %tbody
        %tr
          %td= @this_game.player1_message.bbcode_to_html.html_safe
  .row
    = form_tag game_send_message_path(:username => @player_username) do
      %p
        = label :message, :message, 'Your message:'
        = text_field :message, 'Your Message'
        = submit_tag 'Send Message'
    = button_to "Clear All Messages", game_clear_message_path, :confirm => "Are You Sure You Want to Clear All Messages?"

:javascript
  function timedRefresh(timeoutPeriod) {
    setTimeout("location.reload(true);",timeoutPeriod);
  }

  $(document).ready(function(){
    document.title = "Transformation-Arena Game"
    timedRefresh(120000);
  });
