%h1 User Page

%h2 Characters Made By #{@username}

%table#characters
  %thead
    %tr
      %th Name  	  
      %th Character Sheet 
      %th Update Character
      %th Update Transformation
      %th Delete Character
  %tbody
    - @characters.each do |character|
      %tr 
        %td= character.name
        %td= link_to "#{character.name}'s Character Sheet", characters_path(:name => character.name), :method=> :get
        %td
          -if (@current_username == @username) && (session[:current_game].nil?)
            = link_to "Select #{character.name}", character_edit_path(:name => character.name), :method=> :get
        %td
          -if (@current_username == @username) && (session[:current_game].nil?)
            = link_to "Select #{character.name}", transformation_edit_path(:character_name => character.name), :method=> :get
        %td= link_to("delete", characters_destroy_path(:id => character.id), method: :post, data: { :confirm => "Are you sure you want to Delete this Character? This CANNOT be Undone."})

%p
  = button_to 'Create a New Character',  new_character_path, :method => :get, :id => 'new_character'