%h1 User Page

%h2 Characters Made By #{@username}

%table#characters
  %thead
    %tr
      %th Name  	  
      %th Character Sheet 
      %th Update Character
      %th Update Transformation
      %th Delete Character
  %tbody
    - @characters.each do |character|
      %tr 
        %td= character.name
        %td= link_to "#{character.name}'s Character Sheet", characters_path(:name => character.name), :method=> :get
        %td
          -if (@current_username == @username) && (session[:current_game].nil?)
            = link_to "Select #{character.name}", character_edit_path(:name => character.name), :method=> :get
        %td
          -if (@current_username == @username) && (session[:current_game].nil?)
            = link_to "Select #{character.name}", transformation_edit_path(:character_name => character.name), :method=> :get
        %td= link_to("delete", characters_destroy_path(:id => character.id), method: :post, data: { :confirm => "Are you sure you want to Delete this Character? This CANNOT be Undone."})

%p
  = button_to 'Create a New Character',  new_character_path, :method => :get, :id => 'new_character'

%p 
  Characters Upvoted: 
  = current_user.upvote_checker

%h3 
  Public Profile
%p
  = current_user.profile.bbcode_to_html.html_safe
%p
  %h4 Update Public Profile (Allows BBCodes)
  = form_tag update_profile_path do
    = label :transformation, :profile, 'New Profile'
    = text_area :transformation, 'profile', :size => "60x6", :value => current_user.profile
    = submit_tag "Submit New Profile"
%h3 RP Preferences
%strong
  = current_user.rp_pref
= form_tag edit_rp_pref_path do
  = label :transformation, :rp_pref, 'RP Preferences'
  = select :transformation, :rp_pref, ["No RP","Neutral","Loves to RP"], :selected => current_user.rp_pref
  = submit_tag 'Edit Rp Preferences'
%h3 Favorite TF Genre
%strong
  = current_user.fave_tf
= form_tag edit_fave_tf_path do
  = label :transformation, :fave_tf, 'Favorite TF'
  = text_field :transformation, :fave_tf, :value => current_user.fave_tf
  = submit_tag 'Edit Favorite TF'
%h3 Admin Reports
-if ! (@reports.nil?)
  %table#characters
    %thead
      %tr
        %th Reported Character
        %th Report
        %th Resolved?
        %th Feedback
    %tbody
      - @reports.each do |report|
        %tr 
          %td= report.character_name
          %td= report.report
          %td
            -if report.resolved
              ="Resolved"
            -else
              ="Not Resolved Yet"
          %td= report.feedback
