= javascript_include_tag 'application.js'
-if (session[:current_game].nil?)

  %h2 Can't Find Your Character?
  %p
    There was a recent change to the game, adding two new Tags: "Completed" and "Fully Illustrated". All characters had their "Completed" tag set to false. Characters without the "Complete" tag will not appear on the character select screen unless the option is checked below. If your character is ready for public release, please go to "View Profile" and Update your transformation to include the "Complete" tag. If your character has pictures for all or most stages, please update the "Fully Illustrated" Tag as well. Sorry for the inconvenience as improvements are made to the system. You can visit the Rules Page for more information.

  %h2 Character Select
  -if session['pref2'] == 'Edit Preferences: Excluding Search'
    %h4
      Current Search Type: 
      %strong
        Excluding
  -if session['pref2'] == 'Edit Preferences: Including Search'
    %h4
      Current Search Type: 
      %strong
        Including
  Note: If the Sorting is Not Working, Please Click "Edit Preferences" First 
  .row
    %div{:style => "float:left;"}
      %div{:style => "float:left;"}
        Descending:
      %div{:style => "float:left;"}
        = button_to "Creation Date",change_order_path(:order_type => "created_at DESC", :origin => "single")
      %div{:style => "float:left;"}
        = button_to "Creator",change_order_path(:order_type => "creator DESC", :origin => "single")
      %div{:style => "float:left;"}
        = button_to "Upvotes",change_order_path(:order_type => "upvotes DESC", :origin => "single")
  .row
    %div{:style => "float:left;"}
      %div{:style => "float:left;"}
        Ascending:
      %div{:style => "float:left;"}
        = button_to "Creation Date",change_order_path(:order_type => "created_at ASC", :origin => "single")
      %div{:style => "float:left;"}
        = button_to "Creator",change_order_path(:order_type => "creator ASC", :origin => "single")
      %div{:style => "float:left;"}
        = button_to "Upvotes",change_order_path(:order_type => "upvotes ASC", :origin => "single")
  %table#characters
    %thead
      %tr
        %th Name  	  
        %th Character Sheet 
        %th Select Character
        %th Select Character
        %th Creator
        %th Upvotes
    %tbody
      - @characters.each do |character|
        %tr 
          %td= character.character_name
          %td= link_to "#{character.character_name}'s Character Sheet", characters_path(:name => character.character_name), :method=> :get#character/show/?name=#{character.name}',{:controller => "characters", :action => "show", :name => character.name}
          %td= link_to "Select #{character.character_name}: Random Opponent", game_create_ai_game_path(:name => character.character_name, :rules => @rules_hash), :method=> :post
          %td= link_to "Select #{character.character_name}: Choose Opponent", select_opponent_ai_path(:name => character.character_name, :rules => @rules_hash), :method=> :post
          %td= character.character.creator
          %td= character.character.upvotes
  %h3 Select TF Types
  %p
    %strong Excluding Search Type: 
    For the Excluding Search type, by checking OFF a TF Tag, you get rid of all characters with that TF Tag. For example, if you take off the "Furry" tag, after you click edit preferenes you will remove all characters with the "Furry Tag". If Bob has the tags "Male to Female", and "Furry", he will be removed, even if you allowed "Male to Female" in your list. By putting checking off multiple tags, the restrictions stack. For example, if you checked off "Furry" and "Robot", any characters with the "Furry" tag and any characters with the "Robot" tag, regardless of their other tags, will be removed from the list.
  %p
    %strong Including Search Type: 
    For the Including Search type, by checking on a TF Tag, you are saying you ONLY want character that include that tag. For example, if you click on the "Male to Female" tag, only characters with the "Male to Female" tag will appear in your list. For example, if Bob has the "Male to Female" and "Furry" tags, he will appear in your revised list. NOTE: If you put in multiple tags, the characters must include ALL of the tags. For example, if you choose to include "Male to Female", "Complete", and "Fully Illustrated" as your checks, any character without all THREE tags will not be shown. For example, if Bob has the "Male to Female", "Furry", and Complete" tags, then he will NOT be shown in the list since he doesn't have the "Fully Illustrated" tag.
  %p
    %strong Check/Uncheck All Buttons
    For the "Check All" and "Uncheck All" buttons, they will simply change the checkboxes. You must press "Edit Preferences" to actually affect change the search preferences. Thanks!
  = button_to "Check All", check_all_boxes_path(:origin => "single")
  = button_to "Uncheck All", uncheck_all_boxes_path(:origin => "single")

  = form_tag character_character_select_ai_path do
    %table.table
      %thead
        %tr
          %th Tf Type
          %th Allowed?
      %tbody
        %tr
          %td
            = label :transformation, :is_adult, 'Contains Adult Content?'
          %td 
            = check_box :transformation, 'is_adult', :checked => @button_hash["is_adult"]
        %tr
          %td
            = label :transformation, :is_M2F, 'Contains Male to Female Transformation?'
          %td 
            = check_box :transformation, 'is_M2F', :checked => @button_hash["is_M2F"]
        %tr
          %td
            = label :transformation, :is_F2M, 'Contains Female to Male Transformation?'
          %td 
            = check_box :transformation, 'is_F2M', :checked => @button_hash["is_F2M"]
        %tr
          %td
            = label :transformation, :is_race_change, 'Contains Race Change?'
          %td 
            = check_box :transformation, 'is_race_change', :checked => @button_hash["is_race_change"]
        %tr
          %td
            = label :transformation, :is_age_reg, 'Contains Age Regression?'
          %td 
            = check_box :transformation, 'is_age_reg', :checked => @button_hash["is_age_reg"]
        %tr
          %td
            = label :transformation, :is_age_pro, 'Contains Age Progression?'
          %td 
            = check_box :transformation, 'is_age_pro', :checked => @button_hash["is_age_pro"]
        %tr
          %td
            = label :transformation, :is_furry, 'Contains Furry Transformation?'
          %td 
            = check_box :transformation, 'is_furry', :checked => @button_hash["is_furry"]
        %tr
          %td
            = label :transformation, :is_animal, 'Contains Animal Transformation?'
          %td 
            = check_box :transformation, 'is_animal', :checked => @button_hash["is_animal"]
        %tr
          %td
            = label :transformation, :is_futa, 'Contains Hermaphrodites?'
          %td 
            = check_box :transformation, 'is_futa', :checked => @button_hash["is_futa"]
        %tr
          %td
            = label :transformation, :is_mind, 'Contains Mental Change?'
          %td 
            = check_box :transformation, 'is_mind', :checked => @button_hash["is_mind"]
        %tr
          %td
            = label :transformation, :is_bdsm, 'Contains BDSM or Latex/Rubber Content?'
          %td 
            = check_box :transformation, 'is_bdsm', :checked => @button_hash["is_bdsm"]
        %tr
          %td
            = label :transformation, :is_pregnant, 'Contains Pregnancy?'
          %td 
            = check_box :transformation, 'is_pregnant', :checked => @button_hash["is_pregnant"]
        %tr
          %td
            = label :transformation, :is_inanimate, 'Contains Inanimate Transformation?'
          %td 
            = check_box :transformation, 'is_inanimate', :checked => @button_hash["is_inanimate"]
        %tr
          %td
            = label :transformation, :is_growth, 'Contains Growth Transformation?'
          %td 
            = check_box :transformation, 'is_growth', :checked => @button_hash["is_growth"]
        %tr
          %td
            = label :transformation, :is_shrink, 'Contains Shrinking Transformation?'
          %td 
            = check_box :transformation, 'is_shrink', :checked => @button_hash["is_shrink"]
        %tr
          %td
            = label :transformation, :is_weight_gain, 'Contains Weight Gain?'
          %td 
            = check_box :transformation, 'is_weight_gain', :checked => @button_hash["is_weight_gain"]
        %tr
          %td
            = label :transformation, :is_fantasy, 'Contains Mythical/Fantasy TF?'
          %td 
            = check_box :transformation, 'is_fantasy', :checked => @button_hash["is_fantasy"]
        %tr
          %td
            = label :transformation, :is_robot, 'Contains Robots or Sci Fi?', :checked => true
          %td 
            = check_box :transformation, 'is_robot', :checked => @button_hash["is_robot"]
        %tr
          %td
            = label :transformation, :is_bimbo, 'Contains Bimbos?', :checked => true
          %td 
            = check_box :transformation, 'is_bimbo', :checked => @button_hash["is_bimbo"]
        %tr
          %td
            = label :transformation, :is_monster_girl, 'Contains Monster Girls?', :checked => true
          %td 
            = check_box :transformation, 'is_monster_girl', :checked => @button_hash["is_monster_girl"]
        %tr
          %td
            = label :transformation, :is_bizarre, 'Contains Bizarre TF / Other?', :checked => true
          %td 
            = check_box :transformation, 'is_bizarre', :checked => @button_hash["is_bizarre"]
        %tr
          %td
            = label :transformation, :is_completed, 'Character Complete? (By Unchecking this, you allow incomplete characters)'
          %td 
            = check_box :transformation, 'is_completed', :checked => @button_hash["is_completed"]
        %tr
          %td
            = label :transformation, :is_full_picture, 'Character Fully Illustrated (> 3 Pictures)? (By Checking this, You ONLY allow Fully Illustrated Characters)'
          %td 
            = check_box :transformation, 'is_full_picture', :checked => @button_hash["is_full_picture"]

    = submit_tag 'Edit Preferences: Excluding Search', name: 'Edit Preferences: Excluding Search' 
    = submit_tag 'Edit Preferences: Including Search', name: 'Edit Preferences: Including Search'
    
-else
  %h1 Sorry, but you are currently in a game. Please leave the current game before starting a new one.
  = button_to "Back to Current Game", game_show_path, :method => :get
%p
  = button_to 'Create a New Character',  new_character_path, :method => :get, :id => 'new_character'

:javascript
  $('#check_all').on("click", function(){ $('input[type="checkbox"]').click(); });
  var toggleChecked = function() { $('input[type="checkbox"]').click(); });
  $('.select-all').live('click', function(){
 