%h2 Details about #{@character.name}
= flash[:warning]

%h4 Transformation Tags
= @tag_list

-if (current_user.username == @character.creator) || current_user.is_admin
   %h3 View Transformation
   This is Only Visible to the Creator of the Character. This allows you to make sure your HTML and Pictures are Functioning Correctly. It's also shown when the character loses a match. Use this to check if your character is working correctly. Thanks!
   = link_to "View Transformation", transformation_show_path(:name => @character.name), :method => :get

%p
   Creator:
   %strong
      = @character.creator
%p
   Upvotes:
   %strong
      = @character.upvotes
      = button_to 'Upvote?', upvote_character_path(:name => @character.name), :method => :post

%p
   = image_tag(@character.main_image)

%ul#details
   %li 
      Name:
      = @character.name
   %li
      Maximum HP:
      = @character.max_hp
   %li 
      Maximum MP: 
      = @character.max_mp
   %li 
      Base Attack:
      = @character.base_attack
   %li 
      Base Power:
      = @character.base_power
   %li
      Base Defense:
      = @character.base_defense
   %li
      Base Armor:
      = @character.base_armor

%p#description= @character.description

%h3 Abilities

%table#characters
   %thead
      %tr
         %th Ability Name
         %th Ability Type
         %th Ability Description
   %tbody
      %tr
         %td= @character.action_1_name
         %td= @character.action_1_rules
         %td= @character.action_1_flavor
      %tr
         %td= @character.action_2_name
         %td= @character.action_2_rules
         %td= @character.action_2_flavor
      %tr
         %td= @character.action_3_name
         %td= @character.action_3_rules
         %td= @character.action_3_flavor
      %tr
         %td= @character.action_4_name
         %td= @character.action_4_rules
         %td= @character.action_4_flavor


%h3 Play as Character?
-if session[:current_game].nil?
   = button_to "Random Opponent", game_create_ai_game_path(:name => @character.name), :method=> :post
   = button_to "Choose Opponent", select_opponent_ai_path(:name => @character.name), :method=> :post
-else
   Currently in Game: Please Finish Your Current Game Before Starting a New One
%h3 Recent Comments
%table.table
   %thead 
      %tr
         %th Username
         %th Comment
   %tbody
      -@comments.each do |comment|
         %tr
            %td= comment.username
            %td= comment.comment
%h3 Add New Comment
= form_tag create_comment_path(:character_name => @character.name) do
   = label :transformation, :comment, 'Comment'
   = text_area :transformation, 'Comment', :size => "40x2"
   = submit_tag "Add New Comment"


%h3 View More Comments
%h4 (Includes Rules and Editing/Deleting Comments)
= link_to 'View Comments', view_comment_path(:name => @character.name), :method => :get

%h3 Report Character to Admin?
= button_to 'Report Character', create_report_path(:name => @character.name), :method => :post