%h1 Admin Transformation Controls

=flash[:error]

%table#games
	%thead
		%tr
			%th Creator
			%th Character Name
			%th View Transformation
			%th Update Transformation
			%th Delete Transformation
	%tbody
		- @tfs.each do |tf|
			%tr
				%td= tf.character.creator
				%td= tf.character_name
				%td= link_to "View Transformation", transformation_show_path(:name => tf.character_name), :method => :get
				%td= link_to "Update #{tf.character_name}", transformation_edit_path(:character_name => tf.character_name), :method=> :get
				%td= link_to("delete", delete_tf_path(:id => tf.id), method: :post, data: { :confirm => "Delete Transformation?"})


= button_to 'Clean Up TF', clean_up_tf_path, :method => :post
= button_to 'Set Completed and Fully Illustrated to False', set_completed_false_path, :method => :post
= button_to 'Set Alts to Original Abilities', set_alts_to_original_abilities_path, :method => :post
= button_to 'Equalize Upvotes', equalize_upvotes_path, :method => :post
= button_to 'Set Alt Summons to Original', set_summon_to_original_path, :method => :post
= button_to 'Set TF Creator to Character Creator', set_tf_creator_to_character_creator_path, :method => :post
