%h1 Select Number of TF Stages
= flash[:error]
%p
  %h3 Transformation Stage Number
  %p
    In Transformation Arena, characters transform as they lose HP. For example, if a character has lost 50% of their HP, they will be about halfway transformed. The Transformation is broken up into stages. When a certain percentage of health is lost (~30% for 3 stages, 20% for 5 stages, and 10% for 10 stages), the character will advance in their transformation. Select how many stages you wish to write for the character here. When you update your character, you will be able to further customize how many stages you write text for.
  %p
    For 
    =@character_name
    = form_tag stage_setup_path(:character_name => @character_name) do
      %table.table
        %thead
          %tr
            %th Number of Stages
            %th Select?
        %tbody
          %tr
            %td
              = label_tag :choice, '3 Stages'
            %td
              = radio_button_tag 'Action', 3
          %tr
            %td
              = label_tag :choice, '5 Stages'
            %td
              = radio_button_tag 'Action', 5
          %tr
            %td
              = label_tag :choice, '10 Stages'
            %td
              = radio_button_tag 'Action', 10
      = submit_tag 'Select Number of Stages'