%h1 Show Transformation

%p
  %h2 Start
  %p
    %h4 Portrait:
    = image_tag(@tf.character.main_image)
  %p
    %h4 Character Description
    = @tf.character.description.html_safe
  %p
    %h4 Transformation Description
    None Yet

%p
  %h2 Stage 1
  %p
    %h4 Portrait:
    = image_tag(@tf.stage1_tf_picture)
  %p
    %h4 Character Description
    = @tf.stage1_character_description.html_safe
  %p
    %h4 Transformation Description
    = @tf.stage1_tf_description.html_safe

%p
  %h2 Stage 2
  %p
    %h4 Portrait:
    = image_tag(@tf.stage2_tf_picture)
  %p
    %h4 Character Description
    = @tf.stage2_character_description.html_safe
  %p
    %h4 Transformation Description
    = @tf.stage2_tf_description.html_safe

%p
  %h2 Stage 3
  %p
    %h4 Portrait:
    = image_tag(@tf.stage3_tf_picture)
  %p
    %h4 Character Description
    = @tf.stage3_character_description.html_safe
  %p
    %h4 Transformation Description
    = @tf.stage3_tf_description.html_safe

%p
  %h2 Stage 4
  %p
    %h4 Portrait:
    = image_tag(@tf.stage4_tf_picture)
  %p
    %h4 Character Description
    = @tf.stage4_character_description.html_safe
  %p
    %h4 Transformation Description
    = @tf.stage4_tf_description.html_safe

%p
  %h2 Stage 5
  %p
    %h4 Portrait:
    = image_tag(@tf.stage5_tf_picture)
  %p
    %h4 Character Description
    = @tf.stage5_character_description.html_safe
  %p
    %h4 Transformation Description
    = @tf.stage5_tf_description.html_safe

%p
  %h2 Stage 6
  %p
    %h4 Portrait:
    = image_tag(@tf.stage6_tf_picture)
  %p
    %h4 Character Description
    = @tf.stage6_character_description.html_safe
  %p
    %h4 Transformation Description
    = @tf.stage6_tf_description.html_safe

%p
  %h2 Stage 7
  %p
    %h4 Portrait:
    = image_tag(@tf.stage7_tf_picture)
  %p
    %h4 Character Description
    = @tf.stage7_character_description.html_safe
  %p
    %h4 Transformation Description
    = @tf.stage7_tf_description.html_safe

%p
  %h2 Stage 8
  %p
    %h4 Portrait:
    = image_tag(@tf.stage8_tf_picture)
  %p
    %h4 Character Description
    = @tf.stage8_character_description.html_safe
  %p
    %h4 Transformation Description
    = @tf.stage8_tf_description.html_safe

%p
  %h2 Stage 9
  %p
    %h4 Portrait:
    = image_tag(@tf.stage9_tf_picture)
  %p
    %h4 Character Description
    = @tf.stage9_character_description.html_safe
  %p
    %h4 Transformation Description
    = @tf.stage9_tf_description.html_safe

%p
  %h2 Stage 10
  %p
    %h4 Portrait:
    = image_tag(@tf.stage10_tf_picture)
  %p
    %h4 Character Description
    = @tf.stage10_character_description.html_safe
  %p
    %h4 Transformation Description
    = @tf.stage10_tf_description.html_safe

%p
  %h3 Transformation Tags
= @tag_list